<body>
  <h1>New Task</h1>
  <form>
    Title<br>
    <input type="text" name="title"><br>
    Details<br>
    <input type="text" name="details"><br>
  </form>
  <p><%= link_to "Back to the list", tasks_path %></p>
</body>
